@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);


.img-cl {
    width: 400px;
    height: 300px;
}

body {
    margin: 10px;
    padding: 10px;
    position: relative;
    background-color: #d1e2d4;
    font-family: 'Montserrat';
    color: #537459;
}

h1 {
    text-align: center;
}

.service {
    text-align: center;
    padding: 20px;
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 40px;
}

h4 {
    text-align: center;
}
.delete {
    background-color: #537459;
    color:#d1e2d4;
    height: 30px;
    width: 90px;
    border-radius: 5px;
    border-color: #537459;
}